@font-face {
  font-family: "Quity";
  src:
    local("quity"),
    url("@/public/fonts/quity.ttf") format("opentype") tech(color-COLRv1),
    url("@/public/fonts/quity.woff") format("woff"),
    url("@/public/fonts/quity.woff2") format("woff");
}
@font-face {
  font-family: "Quity";
  src:
    local("Quity"),
    url("@/public/fonts/quity.ttf") format("opentype") tech(color-COLRv1),
    url("@/public/fonts/quity.woff") format("woff"),
    url("@/public/fonts/quity.woff2") format("woff2");
    
}
@font-face {
  font-family: 'Quicksand';
  src: 
  local("Quicksand")
  url(@/public/fonts/Quicksand.woff2) format('woff2'),
  url(@/public/fonts/Quicksand.woff) format('woff'),
  url(@/public/fonts/Quicksand.ttf) format("opentype") tech(color-COLRv1);
}
@font-face {
  font-family: 'The Led Display St';
  src: 
  local("The Led Display St")
  url(@/public/fonts/The+Led+Display+St.woff2) format('woff2'),
  url(@/public/fonts/The-Led-Display-St.woff) format('woff'),
  url(@/public/fonts/The+Led+Display+St.ttf) format("opentype") tech(color-COLRv1);
}

.blob {
  width: 400px;
  height: 400px;
  background-image: linear-gradient(#d5ff2ebc  10%, #74ff2fe9);
  filter: blur(250px);
  transition: all 300ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  z-index: -1;
}

.quity{
  font-family: "Quity";
}
.quicksand{
  font-family: "Quicksand";
}
.led{
  font-family: "The Led Display St";
}